body {
    margin: 0;
    padding: 10px;
    overflow-x: hidden;
    font-family: Helvetica;
    font-size: 18px;
    background-color: #F5F5F5;
    background: url(../img/swirl_pattern.png);
    color: black;
}

a {
	text-decoration: none;
}

a:link {
	color: #FFFFFF;
}

a:visited {
	color: #FFFFFF;
}

a:hover {
	color: #177adb;
}

.selected {
	color: #177adb;
}

/* Styling Placeholder Text */
::-webkit-input-placeholder {
   font-size: 20px;
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   font-size: 20px;
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-size: 20px;
   text-align: center;
}

:-ms-input-placeholder {
   font-size: 20px;
   text-align: center;
}

.animate {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

#content {
	position: relative;
    width: 100%;
    min-width: 640px;
}

#title {
	margin: 0 auto;
	margin-top: 100px;
	margin-bottom: 20px;
	width: 625px;
	padding: 5px;
	text-align: center;	
	background-color: white;
	box-shadow: 0 10px 10px -10px #000000;
	border: 3px solid black;
}

#title span {
	font-size: 48px;
	font-family: 'Roboto', sans-serif;;
}

#current {
	position: relative;
	margin: 10px auto;
	width: 640px;
}

#current h2 {
	position: relative;
	text-align: center;
	top: 10px;
}

#notification {
	display: none;
	position: absolute;
	z-index: 5;
	top: 5px;
	right: 5px;
	min-height: 10px;
	min-width: 200px;
	background-color: #177adb;
	color: white;
	padding: 15px;
	text-align: center;
	box-shadow: 0 10px 20px -10px #000000;
	text-shadow: 1px 1px .5px #000;
}

#current-settings {
	position: absolute;
	z-index: 5;
	right: 5px;
	bottom: 5px;
}

#current-settings span {
	display:block;
	color: white;
	text-shadow: 1px 1px .5px #000;
	font-size: 12px;
	text-align: right;
}

#settings-button, #save-button, #prev-button {
	position: absolute;
	z-index: 5;
	top: 10px;
	left: 10px;
	color: white;
	opacity: 0.5;
	text-shadow: 1px 1px 3px #000;
}

#settings-button:hover, #save-button:hover, #prev-button:hover {
	cursor: pointer;
	color: #177adb;
	opacity: 1.0;
}

#save-button {
	top: 70px;
	left: 18px;
}

#prev-button {
	top: 110px;
	left: 15px;
}

/* Saved GIFs div */
#save-gif {
	display: none;
	position: absolute;
	z-index: 5;
	width: 250px;
	top: 0;
	right: 0;
	min-height: 100px;
	background-color: #F5F5F5;
	border: 3px solid black;
}

#save-gif-title {
	position: relative;
	top: 5px;
	left: 5px;
}

#saved-images {
	margin: 10px auto;
	width: 175px;
	min-height: 75px;
}

.saved-gif {
	position: relative;
	display: inline-block;
	margin: 2px;
	height: 50px;
	width: 50px;
}

.save-img-close {
	position: absolute;
	z-index: 5;
	top: 0;
	right: 2px;
	font-size: 12px;
	color: red;
	text-shadow: 1px 1px 3px #000;
}

.save-img-close:hover {
	cursor: pointer;
	color: #177adb;
}

.saved-gif img {
	position: absolute;
	z-index: 4;
	top: 0;
	left: 0;
	border-radius: 5px;
}

#email-icon {
	display: block;
	position: relative;
	text-align: center;
}

#icon-label {
	display: block;
	text-align: center;
	font-size: 10px;
	margin-bottom: 5px;
}

#email-div {
	display: none;
	position: relative;
	margin: 0 auto;
	bottom: 5px;
	text-align: center;
}

#email-link {
	margin: 5px auto;
	padding-top: 5px;
	width: 100px;
	height: 25px;
	text-align: center;
	color: black;
	border: 3px solid black;
}

#email-link:hover {
	color: white;
	background-color: #177adb;
}

#settings {
	display: none;
	position: absolute;
	z-index: 5;
	top: 0;
	width: 250px;	
	height: 480px;
	background-color: #F5F5F5;
	border: 3px solid black;
}

#settings-close, #save-close, #last-played-viewer-close {
	position: absolute;
	z-index: 5;
	color: black;
	right: 5px;
	top: 5px;
}

#settings-close:hover, #save-close:hover, #last-played-viewer-close:hover {
	cursor: pointer;
	color: #177adb;
}

#update {
	position: relative;
	width: 90%;
	margin: 0 auto;
	margin-top: 20px;
	min-height: 10px;
	text-align: center;
}

#update .update-button {
	display: inline-block;
	position: relative;
	margin: 0 10px;
	min-width: 10px;
}

#update .update-button i {
	display: inline-block;
	position: relative;
}

#update .update-button i:hover {
	cursor: pointer;
	color: #177adb;
}

#update .update-button span {
	display: block;
	font-size: 12px;
}

#arrows {
	position: relative;
	width: 100%;
	margin: 5px auto;
	margin-top: -5px;
	min-height: 10px;
	text-align: center;
}

#arrows .arrow-button {
	display: inline-block;
	position: relative;
	margin: 0 10px;
	min-width: 10px;
}

#arrows .arrow-button i {
	display: inline-block;
	position: relative;
	margin: 0;
}

#open-saved {
	bottom: 8px;
}

#arrows .arrow-button i:hover {
	cursor: pointer;
	color: #177adb;
}

#arrows .arrow-button span {
	display: block;
	margin: 0;
	font-size: 10px;
	margin-top: -10px;
}

#categories {
	position: relative;
	width: 100%;
	margin: 0 auto;
	margin-top: 10px;
	min-height: 10px;
	text-align: center;
}

#categories .categories-button {
	display: inline-block;
	position: relative;
	margin: 2px 10px;
	padding: 3px;
	width: 200px;
	border: 3px solid black;
}

#categories .categories-button:hover {
	background-color: #177adb;
	color: white;
	cursor: pointer;
}

#categories .categories-button .categories-label {
	display: block;
	position: relative;
}

#categories .categories-button .categories-number {
	display: block;
	position: relative;
	font-size: 12px;
}

#delay-form {
	position: relative;
	width: 100%;
	margin-top: 10px;
}

#delay-form input {
	display: block;
	margin: 0 auto;
}

#delay, #email {
	width: 205px;
	height: 30px;
	line-height: 30px;
	border: 2px solid black;
	font-size: 25px;
}

#submit, #email-gifs {
	position: relative;
	width: 100px;
	height: 30px;
	margin-top: 2px !important;
	background-color: transparent;
	color: black;
	border: 2px solid black;
	border-radius: 0;
}

#submit:hover, #email-gifs:hover {
	background-color: #177adb;
	color: white;
	cursor: pointer;
}

#image, #dynamic-image {
	position: relative;
	margin: 0;
	width: 640px;
	height: 480px;
	box-shadow: 0 15px 30px -10px #000000;
}

#image img {
	position: relative;
	width: 640px;
	height: 480px;
}

#dynamic-image {
	display: none;
	z-index: 3;
	box-shadow: none;
}

.theater {
	position: absolute;
	margin: 0 auto;
	left: -10em;
	right: 0;
	width: 1024px !important;
	height: 768px !important;
}
.theater img {
	width: 100% !important;
	height: 100% !important;
}

#main-buttons {
	margin: 25px auto;
	width: 290px;
	min-height: 10px;
}

.main-button {
	display: inline-block;
	margin: 0 10px;	
	height: 40px;
	width: 100px;
	text-align: center;
	padding: 5px;
	background-color: white;
	border: 3px solid black;
	box-shadow: 0 15px 30px -10px #000000;
}

.main-button:hover {
	cursor: pointer;
	background-color: #177adb;
	color: white;
}

#last-played {	
	display: none;
	position: relative;
	margin: 0 auto;
	width: 580px;
	min-height: 125px;
	border: 3px solid black;
	box-shadow: 0 15px 30px -10px #000000;
	background-color: white;
}

#last-played-nav {
	margin: 10px auto;
	margin-bottom: 20px;
	height: 20px;
	width: 90%;
	text-align: center;
}

#last-played-nav span {
	display: inline-block;
	margin: 0 2px;
	padding: 5px;
	color: black;
	font-size: 14px;
	border: 3px solid black;
}

#last-played-nav span:hover {
	cursor: pointer;
	color: white;
	background-color: #177adb;
}

#last-played-viewer {
	display: none;
	position: absolute;
	z-index: 6;
	left: 30px;
	width: 580px;
	min-height: 200px;	
	border: 3px solid black;
	background-color: white;
	color: black;
}

#last-played-viewer-label {
	text-align: center;
	font-size: 28px;
	margin: 5px auto;
	width: 100%;
}

#last-played-viewer-images {
	margin: 10px auto;
	width: 85%;
	min-height: 50px;
	text-align: center;
}

.last-played-images {
	position: relative;
	margin: 10px auto;
	padding: 5px;
	width: 80%;
	min-height: 50px;
}

.last-played-images img, #last-played-viewer-images img {
	display: inline-block;
	margin: 0 5px;
	height: 80px;
	width: 80px;
	box-shadow: 0 15px 30px -10px #000000;
}

.last-played-images img:hover, #saved-images img:hover,
#last-played-viewer-images img:hover {
	cursor: pointer;
	box-shadow: 0px 0px 10px 2px #177adb;	
}

#prev-5-gifs {
	position: absolute;
	bottom: 18px;
	right: 10px;
}

#prev-5-gifs:hover, #email-icon:hover {
	cursor: pointer;
	color: #177adb;
}

#prev-5-gifs-label {
	position: absolute;
	bottom: 5px;
	right: 10px;
	font-size: 10px;
}

.button-selected {
	background-color: #177adb;
	color: white;
}